# Load Modules

In [19]:
import os

os.chdir("../")

In [20]:
from pyspark.sql import SparkSession
import pandas as pd
import json
from functools import partial
from pyspark.sql import DataFrameStatFunctions as dstat
from pyspark.sql import functions as funcs

In [21]:
from pyspark.sql.functions import (
    udf,
    lit,
    col,
    current_date,
    datediff,
    timestamp_seconds,
    current_timestamp,
)

In [22]:
from schemas.users import USERS_FIELD_DATA_SCHEMA
from schemas.transactions import TRANSACTIONS_FIELD_DATA_SCHEMA

In [23]:
from pipeline.extract import create_df_columns, read_csv, convert_column_to_json

In [24]:
# spark_session = SparkSession.builder.appName("Test").getOrCreate()
spark_session = (
    SparkSession.builder.appName("CreditBook ETL")
    .config("spark.executor.cores", 8)
    .config("spark.task.cpus", 8)
    .config("spark.cores.max", 24)
    .config("spark.driver.extraClassPath", "jars/postgresql-42.3.3.jar")
    .config("spark.executor.memory", "8g")
    .config("spark.executor.instance", 4)
    .config("spark.driver.memory", "8g")
    .config("spark.driver.maxResultSize", "8g")
    .getOrCreate()
)
# spark_session = (
#     SparkSession.builder.appName("Python Spark SQL Hive integration example")
#     .config("spark.executor.cores", 16)
#     .config("spark.task.cpus", 2)
#     .config("spark.cores.max", 24)
#     .config("spark.executor.memory", "8g")
#     .config("spark.executor.instance", 16)
#     .config("spark.driver.memory", "8g")
#     # .config("spark.driver.extraClassPath", "../jars/postgresql-42.3.3.jar")
#     .getOrCreate()
# )
# spark_session = (
#     SparkSession.builder.appName("Python Spark SQL Hive integration example")
#     .config("spark.executor.memory", "8g")
#     .config("spark.executor.instance", 4)
#     .config("spark.driver.memory", "8g")
#     .getOrCreate()
# )

# Extract

In [25]:
users = read_csv(spark_session, "datasets/users.csv", "users")
users = convert_column_to_json(users, "data", USERS_FIELD_DATA_SCHEMA)
users = create_df_columns(users, USERS_FIELD_DATA_SCHEMA, "data")

In [26]:
analytics = read_csv(spark_session, "./datasets/analytics.csv", "analytics")

In [27]:
transactions = read_csv(spark_session, "./datasets/transactions.csv", "transactions")
transactions = convert_column_to_json(
    transactions, "data", TRANSACTIONS_FIELD_DATA_SCHEMA
)
transactions = create_df_columns(transactions, TRANSACTIONS_FIELD_DATA_SCHEMA, "data")

In [28]:
users.show(5, truncate=10)

+---+----------+----------+-------------+---------+-----------+----------+----------+------------------+----------------+------+
|_c0| timestamp|  event_id|document_name|operation|document_id|      data|        id|user_last_activity|user_signup_date|rating|
+---+----------+----------+-------------+---------+-----------+----------+----------+------------------+----------------+------+
|  0|2021-10...|cf0f424...|   project...|   UPDATE| DrcOaVj...|{rating...|DrcOaVj...|        1633051286|      1598745600|   4.0|
|  1|2021-08...|2ccb8df...|   project...|   UPDATE| DrcOaVj...|{rating...|DrcOaVj...|        1628868069|      1598745600|   4.0|
|  2|2021-07...|4c4cdb6...|   project...|   UPDATE| DrcOaVj...|{rating...|DrcOaVj...|        1625326718|      1598745600|   4.0|
|  3|2020-12...|79ed83b...|   project...|   UPDATE| DrcOaVj...|{rating...|DrcOaVj...|        1607841920|            null|  null|
|  4|2021-08...|c53137d...|   project...|   UPDATE| DrcOaVj...|{rating...|DrcOaVj...|        1628703482|      1598745600|   4.0|
+---+----------+----------+-------------+---------+-----------+----------+----------+------------------+----------------+------+
only showing top 5 rows

In [29]:
transactions.show(5, truncate=10)

+---+----------+----------+-------------+---------+-----------+----------+-------+------------------+--------------------------------------+----------+---------------------+----------------+-------+----------+
|_c0| timestamp|  event_id|document_name|operation|document_id|      data| amount|creation_timestamp|customer_net_balance_after_transaction|      note|transaction_timestamp|transaction_type|   type|   user_id|
+---+----------+----------+-------------+---------+-----------+----------+-------+------------------+--------------------------------------+----------+---------------------+----------------+-------+----------+
|  0|2020-11...|8f11bd0...|   project...|   CREATE| QgNGgxE...|{note=1...| 1000.0|        1606274802|                               -9000.0|     17.11|           1606274802|          credit|default|ba5e447...|
|  1|2020-11...|ad7c8ad...|   project...|   CREATE| HCJ1trN...|{note=S...|   60.0|        1606277763|                                 838.0|     Sabon|           1606277763|          credit|default|cc0e78f...|
|  2|2021-12...|8a0b396...|   project...|   CREATE| a3878e8...|{note=J...|  700.0|        1640114677|                                -700.0|Jazz Mo...|           1640114668|           debit|default|DrcOaVj...|
|  3|2021-12...|d84c910...|   project...|   CREATE| 29101f2...|{note=,...| 4050.0|        1640115477|                                4050.0|          |           1640115467|          credit|default|74bd445...|
|  4|2020-11...|93a5ae9...|   project...|   CREATE| cCgOCm4...|{note=D...|10000.0|        1606224593|                              -89785.0|   Dr sent|           1606224593|           debit|default|8c483cd...|
+---+----------+----------+-------------+---------+-----------+----------+-------+------------------+--------------------------------------+----------+---------------------+----------------+-------+----------+
only showing top 5 rows

In [30]:
analytics.show(5, truncate=5)

+---+----------+---------------+----------+-------+--------------+------------+----------+---------------+----------+-----------+
|_c0|event_date|event_timestamp|event_name|user_id|user_pseudo_id|device_model|android_os|device_language|city_geoIp|app_version|
+---+----------+---------------+----------+-------+--------------+------------+----------+---------------+----------+-----------+
|  0|     20...|          20...|     se...|  22...|         2f...|       mo...|     An...|          en-us|     Ka...|      2....|
|  1|     20...|          20...|     Cl...|  3b...|         df...|       mo...|     An...|          en-au|     Ka...|      2....|
|  2|     20...|          20...|     Cl...|  3b...|         df...|       mo...|     An...|          en-au|     Ka...|      2....|
|  3|     20...|          20...|     Cl...|  22...|         2f...|       mo...|     An...|          en-us|     Ka...|      2....|
|  4|     20...|          20...|     Vi...|  22...|         2f...|       mo...|     An...|          en-us|     Ka...|      2....|
+---+----------+---------------+----------+-------+--------------+------------+----------+---------------+----------+-----------+
only showing top 5 rows

In [31]:
users.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- document_name: string (nullable = true)
 |-- operation: string (nullable = true)
 |-- document_id: string (nullable = true)
 |-- data: string (nullable = true)
 |-- id: string (nullable = true)
 |-- user_last_activity: integer (nullable = true)
 |-- user_signup_date: integer (nullable = true)
 |-- rating: float (nullable = true)

In [32]:
transactions.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- document_name: string (nullable = true)
 |-- operation: string (nullable = true)
 |-- document_id: string (nullable = true)
 |-- data: string (nullable = true)
 |-- amount: float (nullable = true)
 |-- creation_timestamp: integer (nullable = true)
 |-- customer_net_balance_after_transaction: float (nullable = true)
 |-- note: string (nullable = true)
 |-- transaction_timestamp: integer (nullable = true)
 |-- transaction_type: string (nullable = true)
 |-- type: string (nullable = true)
 |-- user_id: string (nullable = true)

# Transform

In [33]:
transactions.select("transaction_type").distinct().collect()

[Row(transaction_type=None),
 Row(transaction_type='credit'),
 Row(transaction_type='debit')]

In [34]:
amount_of_debits = (
    transactions.filter(transactions.transaction_type == "debit")
    .groupby("user_id")
    .sum("amount")
    .withColumnRenamed("sum(amount)", "amount_of_debits")
    .cache()
)

In [35]:
no_of_debits = (
    transactions.filter(transactions.transaction_type == "debit")
    .groupby("user_id")
    .count()
    .withColumnRenamed("count", "no_of_debits")
    .cache()
)

In [36]:
amount_of_credits = (
    transactions.filter(transactions.transaction_type == "credit")
    .groupby("user_id")
    .sum("amount")
    .withColumnRenamed("sum(amount)", "amount_of_credits")
    .cache()
)

In [37]:
no_of_credits = (
    transactions.filter(transactions.transaction_type == "debit")
    .groupby("user_id")
    .count()
    .withColumnRenamed("count", "no_of_credits")
    .cache()
)

In [38]:
amount_of_total_transactions = (
    transactions.groupby("user_id")
    .sum("amount")
    .withColumnRenamed("sum(amount)", "amount_of_total_transactions")
    .cache()
)

In [39]:
no_of_transactions = (
    transactions.groupby("user_id")
    .count()
    .withColumnRenamed("count", "no_of_transactions")
    .cache()
)

In [40]:
ratings = (
    users.select(col("id").alias("user_id"), "rating")
    .groupby("user_id")
    .avg("rating")
    .withColumnRenamed("avg(rating)", "rating")
    .cache()
)

In [41]:
user_activity = (
    users.select(col("id").alias("user_id"), "user_last_activity")
    .groupby("user_id")
    .agg({"user_last_activity": "max"})
    .withColumnRenamed("max(user_last_activity)", "user_last_activity")
    .cache()
)

In [42]:
user_activity = user_activity.withColumn(
    "days_since_last_activity",
    datediff(current_date(), col("user_last_activity").cast("timestamp")),
)

In [43]:
user_activity = user_activity.withColumn(
    "created_at", current_timestamp()
).cache()

In [44]:
user_activity = user_activity.withColumn(
    "user_last_activity", col("user_last_activity").cast("timestamp")
).cache()

In [45]:
days_since_signup = users.groupby("id").agg({"user_signup_date": "first"}).cache()
days_since_signup = days_since_signup.withColumnRenamed(
    "id", "user_id"
).withColumnRenamed("first(user_signup_date)", "days_since_signup")
days_since_signup = days_since_signup.select(
    "user_id",
    (datediff(current_date(), col("days_since_signup").cast("timestamp"))).alias(
        "days_since_signup"
    ),
).cache()

In [46]:
user_info = analytics.groupby("user_id").agg(
    {
        "device_language": "first",
        "city_geoIp": "first",
        "app_version": "first",
        "device_model": "first",
    }
)
user_info = user_info.withColumnRenamed(
    "first(app_version)", "app_version"
).withColumnRenamed("first(device_model)", "phone_model")
user_info = user_info.withColumnRenamed(
    "first(device_language)", "language"
).withColumnRenamed("first(city_geoIp)", "city")

In [47]:
median_gmv_per_month = transactions.groupby("user_id", funcs.month("timestamp")).agg(
    funcs.sum("amount").alias("amount")
).groupby("user_id").agg(
    funcs.percentile_approx("amount", 0.5).alias("calculated_fields.median_gmv_per_month")
).orderBy(
    "user_id"
)

In [48]:
median_trans_per_month = transactions.groupby("user_id", funcs.month("timestamp")).agg(
    funcs.count("amount").alias("amount")
).groupby("user_id").agg(
    funcs.percentile_approx("amount", 0.5).alias("calculated_fields.median_trans_per_month")
).orderBy(
    "user_id"
)

In [49]:
months_transacting = transactions.select("user_id", funcs.month("timestamp").alias("month_no")).groupby(
    "user_id"
).agg(funcs.expr("count(distinct month_no)").alias("calculated_fields.months_transacting")).orderBy(
    "user_id"
)

In [52]:
final = (
    amount_of_credits.join(no_of_credits, on="user_id", how="left")
    .join(amount_of_debits, on="user_id", how="left")
    .join(no_of_debits, on="user_id", how="left")
    .join(amount_of_total_transactions, on="user_id", how="left")
    .join(no_of_transactions, on="user_id", how="left")
    .join(ratings, on="user_id", how="left")
    .join(user_activity, on="user_id", how="left")
    .join(days_since_signup, on="user_id", how="left")
    .join(user_info, on="user_id", how="left")
    .join(median_gmv_per_month, on="user_id", how="left")
    .join(median_trans_per_month, on="user_id", how="left")
    .join(months_transacting, on="user_id", how="left")
)

In [53]:
# final = final.withColumn(
#     "calculated_fields", funcs.struct(
#         col("median_gmv_per_month"),
#         col("median_trans_per_month"),
#         col("months_transacting")
#     )
# ).drop("median_gmv_per_month", "median_trans_per_month", "months_transacting")

In [55]:
final.cache().show()

+--------------------+--------------------+-------------+------------------+------------+----------------------------+------------------+-----------------+-------------------+------------------------+--------------------+-----------------+-----------+-----------------+--------+----------+--------------------------------------+----------------------------------------+------------------------------------+
|             user_id|   amount_of_credits|no_of_credits|  amount_of_debits|no_of_debits|amount_of_total_transactions|no_of_transactions|           rating| user_last_activity|days_since_last_activity|          created_at|days_since_signup|app_version|      phone_model|language|      city|calculated_fields.median_gmv_per_month|calculated_fields.median_trans_per_month|calculated_fields.months_transacting|
+--------------------+--------------------+-------------+------------------+------------+----------------------------+------------------+-----------------+-------------------+------------------------+--------------------+-----------------+-----------+-----------------+--------+----------+--------------------------------------+----------------------------------------+------------------------------------+
|dcaf1888-4514-4c1...|         2.3433795E7|         7683|       2.3339095E7|        7683|                  4.677289E7|             13864|              5.0|2021-12-21 15:48:58|                     116|2022-04-16 16:35:...|              396|     2.14.0|     mobile Hot 9|   en-us|Rawalpindi|                             4660400.0|                                    1436|                                  10|
|6521bdc4-26a0-4be...|       1.173685422E9|        14879|     1.453744892E8|       14879|        1.3190599111999998E9|             23485|              4.0|2021-12-17 15:14:13|                     120|2022-04-16 16:35:...|              331|     2.26.0|   mobile nova 3i|   en-pk|Rawalpindi|                           3.1016581E7|                                    3293|                                   8|
|8fc029c3-2ec0-441...|            893673.0|         6844|         1068601.0|        6844|                   1962274.0|              8812|3.999709217795871|2021-12-21 17:24:23|                     116|2022-04-16 16:35:...|              453|     2.26.0|   mobile Spark 5|   en-us|    Multan|                              136074.0|                                     642|                                  12|
|031e8f64-0e97-4f4...|           5556595.0|        11853|       1.1622256E7|       11853|                 1.7178851E7|             14037|              5.0|2021-12-21 20:54:20|                     116|2022-04-16 16:35:...|              293|     2.26.0|  mobile Y20 2021|   en-pk|    Lahore|                             1914660.0|                                    2257|                                   7|
|81c995b0-7a19-47b...|   9312905.172000006|         5942|       1.0962711E7|        5942|        2.0275616172000006E7|              9303|              5.0|2021-12-22 00:26:42|                     115|2022-04-16 16:35:...|              350|     2.26.0|       mobile Y20|   en-us|    Lahore|                             2130987.0|                                    1149|                                   8|
|ee1c2c31-b463-46b...|           4339171.0|        10521|         4209392.0|       10521|                   8548563.0|             17214|              5.0|2021-12-22 00:34:20|                     115|2022-04-16 16:35:...|              488|     2.26.0|       mobile A53|   en-us|Rawalpindi|                              633542.0|                                    1333|                                  12|
|a50fc2e9-1454-475...|           3992527.0|        10613|         4652910.0|       10613|                   8645437.0|             12840|              4.0|2021-12-21 22:55:42|                     116|2022-04-16 16:35:...|              418|     2.26.0|mobile Galaxy A72|   en-gb|      null|                              701624.0|                                    1132|                                  11|
|14f817d0-ef4f-484...|   868345.1000000015|         8976|         2690150.0|        8976|          3558495.1000000015|             11645|              4.0|2021-12-21 21:17:32|                     116|2022-04-16 16:35:...|              412|     2.26.0|mobile Spark 6 Go|   en-us|    Multan|                              128498.0|                                    1059|                                  11|
|fe9c3105-f134-4cf...|           1700722.0|        21084| 1.927344897251E12|       21084|           1.927346597973E12|             27139|              4.0|2021-12-22 00:34:24|                     115|2022-04-16 16:35:...|              357|     2.19.7|    mobile Hot 10|   en-us|    Lahore|                              388998.0|                                    3353|                                   9|
|f6fdcdd2-98f7-400...|  3909331.3999938965|         8425|4174580.8999996185|        8425|           8083912.299993515|             10208|              5.0|2021-12-21 21:59:46|                     116|2022-04-16 16:35:...|              382|     2.26.0|   mobile V15 Pro|   en-us|Rawalpindi|                              686632.0|                                    1038|                                  10|
|ba5e4473-d825-44d...|1.2575062230000001E8|         6695|       1.2865939E8|        6695|               2.544100123E8|             17907|              4.0|2021-12-21 21:35:57|                     116|2022-04-16 16:35:...|             null|     2.26.0|      mobile Y12s|   en-pk|   Karachi|                           1.0337515E7|                                     854|                                  12|
|cb98d081-a469-49a...|   4304859.607177734|        10970|3518930.3093719482|       10970|           7823789.916549683|             15801|              5.0|2021-12-20 23:02:44|                     117|2022-04-16 16:35:...|              335|     2.26.0|        mobile S1|   en-us|    Multan|                             1094172.0|                                    2227|                                   8|
|6ab12451-393e-401...|          8994238.25|        13764| 8945136.612000465|       13764|        1.7939374862000465E7|             17463|              4.0|2021-12-22 00:00:15|                     115|2022-04-16 16:35:...|              494|     2.26.0|    mobile F9 Pro|   en-us|   Karachi|                             1269776.0|                                    1384|                                  12|
|e30ee11c-9d67-4de...|           1671648.0|         8254|         1402988.0|        8254|                   3074636.0|              9292|4.999892680832796|2021-12-21 23:24:55|                     116|2022-04-16 16:35:...|              326|     2.25.0|       mobile A3s|   en-us|Faisalabad|                              259253.0|                                    1247|                                   8|
|fb06050f-3a70-468...|            645470.0|         6623|      7.32868357E8|        6623|                7.33513827E8|              7758|              4.0|2021-12-21 23:17:59|                     116|2022-04-16 16:35:...|              276|     2.22.0|mobile Y11 (2019)|   en-us|Rawalpindi|                              284368.0|                                    1249|                                   6|
|a183f262-1f2a-4a2...|           2179610.0|         7994|         2202624.0|        7994|                   4382234.0|              8868|              5.0|2021-12-21 19:50:55|                     116|2022-04-16 16:35:...|              324|     2.26.0|mobile Hot 9 Play|   en-us|   Karachi|                              531642.0|                                    1128|                                   8|
|f7525e56-be3f-411...|         1.0604923E7|         5412|       1.0469376E7|        5412|                 2.1074299E7|             10414|              4.0|2021-12-21 16:50:42|                     116|2022-04-16 16:35:...|              326|     2.26.0|mobile Galaxy A31|   en-gb|   Karachi|                             2864771.0|                                    1417|                                   8|
|ebcd5d00-ff06-49e...|         8.0038511E7|         4119|       8.5591513E7|        4119|                1.65630024E8|              7857|3.951929587000677|2021-12-20 20:01:57|                     117|2022-04-16 16:35:...|              419|     2.26.0|       mobile F15|   en-us|    Lahore|                            1.352264E7|                                     808|                                  11|
|fb35a836-759c-4a6...|          3746901.51|         5038|        3831840.76|        5038|                  7578742.27|              8070|              5.0|2021-12-20 11:32:45|                     117|2022-04-16 16:35:...|              340|     2.25.0|             null|   en-us|   Karachi|                              903976.5|                                    1117|                                   8|
|cfbf6682-7377-4f4...|           3646821.0|         6975|3639835.9166870117|        6975|           7286656.916687012|              8907|              5.0|2021-12-21 18:01:54|                     116|2022-04-16 16:35:...|              362|     2.26.0| mobile Galaxy J6|   en-gb| Islamabad|                     393249.0400085449|                                     818|                                   9|
+--------------------+--------------------+-------------+------------------+------------+----------------------------+------------------+-----------------+-------------------+------------------------+--------------------+-----------------+-----------+-----------------+--------+----------+--------------------------------------+----------------------------------------+------------------------------------+
only showing top 20 rows

# Load

In [56]:
def save_to_postgres(df, table):
    df.write.format("jdbc").option(
        "url", "jdbc:postgresql://localhost:5432/test"
    ).option("dbtable", table).option("user", "mamun").option(
        "password", "mamun1234"
    ).mode(
        "overwrite"
    ).save()

In [57]:
save_to_postgres(final, "final")

In [58]:
transactions.createOrReplaceTempView("transactions")

save_to_postgres(transactions, "transactions")

# save_to_postgres(users, "users")

# save_to_postgres(analytics, "analytics")

# transactions.show()

# Test RAW